.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1210px;
}
/*===================================================MENU========================================================*/
.main-navigation {
    position: relative;
    width: 1210px;
    z-index: 999999;
}
.main-navigation ul {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}
.main-navigation a {
  display: block;
  padding: 25px 20px 10px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
.main-navigation a:hover {
  color: #fce38a;
}
.main-navigation .active {
  position: relative;
  color: #fce38a;
  background-color: none;
}
.main-navigation .active a {
  color: #fce38a;
}
.main-navigation .active a:hover {
  color: #fce38a;
}
.main-navigation .active::after {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #fce38a;
  right: 20px;
  bottom: 0;
  left: 20px;
}
.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-left: 0;
  padding-top: 22px;
  padding-right: 465px;
}
.main-navigation .logo-inner:hover {
  background: none;
}
.main-navigation .login {
  float: right;
  height: 20px;
  padding-top: 22px;
  color: #fff;
  text-decoration: none;
}
.login:hover {
  color: #fce38a;
}
.login::before {
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -20px -324px;
  content: "";
  opacity: 0.3;
}
.login:hover::before {
  opacity: 1;
}
/*===========================================================SLIDER============================================================*/
.cr-container {
  width: 100%;
  height: 1000px;
  position: relative;
  margin: 0 auto;
}
.cr-container label{
  font-style: italic;
  width: 280px;
  height: 70px;
  cursor: pointer;
  color: #fff;
  line-height: 32px;
  font-size: 24px;
  float:left;
  position: relative;
  left: 13.5%;
  margin-top:850px;
  z-index: 1000;
}
.cr-container label:not(:last-child) {
  margin-right: 20px;
}
.cr-container label:before{
  content:'';
  width: 280px;
  height: 3px;
  background: #f7eac4;
  position: absolute;
  top: -20px;
  z-index:-1;
}


.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1:before,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2:before,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3:before,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4:before {
  background: linear-gradient(to right, rgba(243,129,129,1) 0%,rgba(243,129,129,1) 25%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 100%);
}
.cr-container input{
  display: none;
}

/* ============img========== */

.cr-bgimg{
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.cr-bgimg div{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg {
  background-image: url(http://bayguzin.ru/demo/CSS3SlidingImagePanels/images/1.jpg);
}
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg {
  background-image: url(http://bayguzin.ru/demo/CSS3SlidingImagePanels/images/2.jpg);
}
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg {
  background-image: url(http://bayguzin.ru/demo/CSS3SlidingImagePanels/images/3.jpg);
}
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg { 
  background-image: url(http://bayguzin.ru/demo/CSS3SlidingImagePanels/images/4.jpg);
}
.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg .gradient,
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg .gradient,
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg .gradient,
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg .gradient {
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
}

.cr-titles h2{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  z-index: 10000;
  opacity: 0;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.cr-titles h2 span:nth-child(1){
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  display: block;
  letter-spacing: 7px;
}
.cr-titles h2 span:nth-child(2){
  letter-spacing: 0px;
  display: block;
  background: rgba(104,171,194,0.9);
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.cr-container input.cr-selector-img-1:checked ~ .cr-titles h2:nth-child(1),
.cr-container input.cr-selector-img-2:checked ~ .cr-titles h2:nth-child(2),
.cr-container input.cr-selector-img-3:checked ~ .cr-titles h2:nth-child(3),
.cr-container input.cr-selector-img-4:checked ~ .cr-titles h2:nth-child(4){
  opacity: 1;
} 